.wrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;

  width: 40vw;
}

.item {
  background-color: aliceblue;
  border-radius: 5px;
  margin: 10px;
}

.item:has(.content) {
  background-color: rgb(161, 242, 143);
}

.topic {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

.content {
  padding: 10px;
}

.selectionBtn {
  align-self: center;
  margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 70vw;
  }
}
