body {
    background-color: rgb(255, 231, 251);
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    flex-direction: column;
}

.control{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#text {
    width: 400px;
    height: 200px;
}

#input-speed {
    width: 50px;
}

.btn {
    width: 60px;
    border-radius: 9px;
    border-width: 1px;
}