/* colors */
.theme-toggle-container {
  --background-color: white !important;
  --text-color: black !important;
  --card-border-color: rgb(226, 226, 226) !important;
  --card-background-color: rgb(245, 245, 245) !important;
}

.theme-toggle-container .dark {
  --background-color: #18122b !important;
  --text-color: rgb(255, 255, 255) !important;
  --card-border-color: #393053 !important;
  --card-background-color: #443c68 !important;
}

/*------------------------------*/

.theme-toggle-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 20px !important;
  margin: 20px !important;
  border: 2px solid var(--card-border-color) !important;
  background-color: var(--card-background-color) !important;
  border-radius: 10px !important;
}

.theme-toggle-card {
  box-sizing: border-box !important;
  width: 300px !important;
  height: auto !important;
  border: 10px solid var(--card-border-color) !important;
  background-color: var(--card-background-color) !important;
  border-radius: 40px !important;

  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 20px !important;
}

.theme-toggle-content {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.theme-toggle-img {
  height: 100px !important;
  width: auto !important;
  margin-bottom: 20px !important;
}

.theme-toggle-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  margin-bottom: 20px !important;
  font-size: larger !important;
  color: var(--text-color) !important;
}

.theme-toggle-buttons {
  width: 100% !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.theme-toggle-btn {
  width: 45% !important;
  height: 40px !important;
  border-radius: 25px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold !important;
  border-width: 3px !important;

  color: orange !important;
  border-color: orange !important;
  background-color: var(--card-border-color) !important;
}

.theme-toggle-btn-selected {
  color: white !important;
  border-color: orange !important;
  background-color: orange !important;
}
